@model IEnumerable<ASP.Server.Models.Genre>
@{
    ViewData["Title"] = "Liste Genre";
}

<div class="listeGenres">
    <h1>Liste des Genres:</h1>
    <ul>
        @foreach (var genre in Model)
        {
            <li>@genre.Name</li>
        }
    </ul>
</div>
